.image {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.card {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: bold;
    width: 500px;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.name {
    color: red;
    font-size: 24px;
    font-weight: bold;
    padding: 0px 0px 4px 0px;
}
.grey {
    color: gray;
    padding-bottom: 4px;
}
.first {
    padding: 12px;
}
.second {
    text-align: left;
    padding: 12px 0px;
    flex-grow: 1;
}
.third {
    text-align: right;
    width: 100px;
    padding: 12px;
}
.rate {
    padding: 2px 8px;
    background-color:#72a02b;
    border-radius: 4px;
    color: white;
}
.pay {
    color: #72a02b;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding: 4px 20px;
    border-left: 1px solid black;
}
.paywrap {
    background-color: white;
    border: 1px solid gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
}
.id {
    flex-grow: 1;
    color: black;
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 4px;
}